Server: Netscape-Enterprise/2.01
Date: Fri, 21 Nov 1997 02:28:52 GMT
Accept-ranges: bytes
Last-modified: Tue, 18 Nov 1997 19:16:42 GMT
Content-length: 10116
Content-type: text/html

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">

<HTML>

<HEAD>
  <TITLE>Silicon Graphics Inc.</TITLE>
  <META NAME="Keywords" VALUE="3d graphics, CAD, CAE, animation,
    database servers, file servers, scientific computing, sgi,
    silicon graphics, technical computing, visual comupting,
    visualization, web servers, workstations, O2, OCTANE, Origin,
    Onyx, Onyx2, WebFORCE, Challenge, IRIX">
  <META NAME="Description" VALUE="Silicon Graphics Inc. is the
    leader in computing technology for 3D graphics and animation,
    visual desktop workstations, web servers, and high-end
    supercomputers for manufacturing, government, science and
    education, communications and entertainment. Silicon Graphics
    computing tools combine power and interactive visualization
    to accelerate our customers' time to insight in applications
    as diverse as manufacturing, entertainment, science and the
    World Wide Web. ">
  <META NAME="rating" CONTENT="general">
  <META NAME="revisit-after" CONTENT="7 days">
</HEAD>

<BODY BGCOLOR="#ffffff" TEXT="#000000" LINK="#004060" VLINK="#9a6524"
    ALINK="#00ffff">

<TABLE WIDTH="600" CELLSPACING="0" CELLPADDING="0" BORDER="0">
<TR>
  <TD WIDTH="95" VALIGN="bottom">
    <A HREF="/Images/hp_discrete.map"><IMG ISMAP BORDER="0"
    ALT="[Navigation]" SRC="/Images/hp_discrete.jpg" WIDTH="88"
    HEIGHT="100"></A>
  </TD>
  <TD WIDTH="505">
    <IMG BORDER="0" ALT="Silicon Surf: The Corporate Website for Silicon
    Graphics Computer Systems" SRC="/Images/hp_banner.jpg" WIDTH="412"
    HEIGHT="110">
  </TD>
</TR>
</TABLE>

<BR>

<TABLE WIDTH="600" CELLSPACING="0" CELLPADDING="0" BORDER="0">
<TR>
  <TD WIDTH="430" ROWSPAN="2" ALIGN="RIGHT" VALIGN="TOP">
  
    <!--------- MAIN HEADLINE STORY ---------->
  
       <A HREF="/games/"><IMG 
        SRC="/Images/HP_11-17-97.top.jpg" WIDTH="416" HEIGHT="314" ALIGN="LEFT"
      ALT="What Inspires Your Vision? (games feature)" BORDER="0"></A>   
  
  </TD>

  <TD WIDTH="170" VALIGN="top" ALIGN="CENTER">
    <A HREF="ss.home.javafree.html"><IMG BORDER="0" ALT="[ No Java]" 
      SRC="/Images/selector-nojava.gif" WIDTH="72" HEIGHT="15"></A>
    <A HREF="hp_text.html"><IMG BORDER="0" ALT="[Text Only]"
      SRC="/Images/selector-text.gif" WIDTH="87" HEIGHT="15"></A>
 
    <APPLET CODE="Halo.class" VSPACE="0" HSPACE="0" WIDTH="165" HEIGHT="180">

      <PARAM NAME="mainimage" VALUE="/Images/hp_power.gif">

      <PARAM NAME="bgcolor" VALUE="ffffff">  

      <PARAM NAME="menu1_title" VALUE="Products & Solutions|/Products/">
      <PARAM NAME="hotspot1" VALUE="0,0,14,31">
      <PARAM NAME="haloimage1" VALUE="/Images/hp_halo.jpg|0,24">
      <PARAM NAME="menu1_font" VALUE="Helvetica,BOLD,14">
      <PARAM NAME="menu1_textcolor" VALUE="004060">
      <PARAM NAME="menu1_highlight" VALUE="c00000">
      <PARAM NAME="menu1_border" VALUE="c0bbb1">
      <PARAM NAME="menu1_color" VALUE="ffffff">

      <PARAM NAME="menu1_item1" 
	VALUE="Hardware|/Products/index.html#hardware">
      <PARAM NAME="menu1_item2" 
	VALUE="Software|/Products/index.html#software">
      <PARAM NAME="menu1_item3" 
	VALUE="Solutions|/Products/index.html#solutions">
      <PARAM NAME="menu1_item4" 
	VALUE="Technology|/Products/index.html#technology">


      <PARAM NAME="menu2_title" VALUE="Company Info & Jobs|/Overview/">
      <PARAM NAME="hotspot2" VALUE="0,41,14,63">
      <PARAM NAME="haloimage2" VALUE="/Images/hp_halo.jpg|0,47">
      <PARAM NAME="menu2_font" VALUE="Helvetica,BOLD,14">
      <PARAM NAME="menu2_textcolor" VALUE="004060">
      <PARAM NAME="menu2_highlight" VALUE="c00000">
      <PARAM NAME="menu2_border" VALUE="c0bbb1">
      <PARAM NAME="menu2_color" VALUE="ffffff">

      <PARAM NAME="menu2_item1" 
	VALUE="Contacts|/Overview/index.html#contacts">
      <PARAM NAME="menu2_item2" 
	VALUE="Corporate Info|/Overview/corp/">
      <PARAM NAME="menu2_item3" 
	VALUE="Investor Relations|/Headlines/investor/">
      <PARAM NAME="menu2_item4" 
	VALUE="Subsidiaries|/Overview/index.html#subsidiaries">
      <PARAM NAME="menu2_item5" 
	VALUE="Jobs|/Misc/Jobs/">


      <PARAM NAME="menu3_title" VALUE="customer service|/Support/">
      <PARAM NAME="hotspot3" VALUE="0,65,14,89">
      <PARAM NAME="haloimage3" VALUE="/Images/hp_halo.jpg|0,70">
      <PARAM NAME="menu3_font" VALUE="Helvetica,BOLD,14">
      <PARAM NAME="menu3_textcolor" VALUE="004060">
      <PARAM NAME="menu3_highlight" VALUE="c00000">
      <PARAM NAME="menu3_border" VALUE="c0bbb1">
      <PARAM NAME="menu3_color" VALUE="ffffff">


      <PARAM NAME="menu4_title" VALUE="worldwide sales|/Sales/">
      <PARAM NAME="hotspot4" VALUE="0,90,14,106">
      <PARAM NAME="haloimage4" VALUE="/Images/hp_halo.jpg|0,93">
      <PARAM NAME="menu4_font" VALUE="Helvetica,BOLD,14">
      <PARAM NAME="menu4_textcolor" VALUE="004060">
      <PARAM NAME="menu4_highlight" VALUE="c00000">
      <PARAM NAME="menu4_border" VALUE="c0bbb1">
      <PARAM NAME="menu4_color" VALUE="ffffff">

      <PARAM NAME="menu4_item1" 
	VALUE="Worldwide Sales|/Sales/index.html#worldwide">
      <PARAM NAME="menu4_item2" 
	VALUE="Contact Me|/Sales/index.html#contact">
      <PARAM NAME="menu4_item3" 
	VALUE="Resellers|/Sales/index.html#resellers">


      <PARAM NAME="menu5_title" VALUE="Web Solutions|/Misc/internet_index.html">
      <PARAM NAME="hotspot5" VALUE="0,112,14,129">
      <PARAM NAME="haloimage5" VALUE="/Images/hp_halo.jpg|0,116">
      <PARAM NAME="menu5_font" VALUE="Helvetica,BOLD,14">
      <PARAM NAME="menu5_textcolor" VALUE="004060">
      <PARAM NAME="menu5_highlight" VALUE="c00000">
      <PARAM NAME="menu5_border" VALUE="c0bbb1">
      <PARAM NAME="menu5_color" VALUE="ffffff">

      <PARAM NAME="menu5_item1" 
	VALUE="WebFORCE|/Products/WebFORCE/">
      <PARAM NAME="menu5_item2" 
	VALUE="Cosmo|/Products/cosmo/">
      <PARAM NAME="menu5_item3" 
	VALUE="VRML|http://vrml.sgi.com">


      <PARAM NAME="menu6_title" VALUE="Serious Fun|/Fun/">
      <PARAM NAME="hotspot6" VALUE="0,138,14,152">
      <PARAM NAME="haloimage6" VALUE="/Images/hp_halo.jpg|0,139">
      <PARAM NAME="menu6_font" VALUE="Helvetica,BOLD,14">
      <PARAM NAME="menu6_textcolor" VALUE="004060">
      <PARAM NAME="menu6_highlight" VALUE="c00000">
      <PARAM NAME="menu6_border" VALUE="c0bbb1">
      <PARAM NAME="menu6_color" VALUE="ffffff">

      <PARAM NAME="menu6_item1" 
	VALUE="Cool Freeware|/Fun/index.html#free">
      <PARAM NAME="menu6_item2" 
	VALUE="Image Gallery|/Fun/index.html#gallery">
      <PARAM NAME="menu6_item3" 
	VALUE="Movies & Animation|/Fun/free/movie_gallery.html">
      <PARAM NAME="menu6_item4" 
	VALUE="Grafica Obscura|/grafica/index.html">
      <PARAM NAME="menu6_item5" 
	VALUE="Cool Sites|/surfer/cool_sites.html">


      <PARAM NAME="menu7_title" VALUE="Developers|/Technology/">
      <PARAM NAME="hotspot7" VALUE="0,158,14,190">
      <PARAM NAME="haloimage7" VALUE="/Images/hp_halo.jpg|0,162">
      <PARAM NAME="menu7_font" VALUE="Helvetica,BOLD,14">
      <PARAM NAME="menu7_textcolor" VALUE="004060">
      <PARAM NAME="menu7_highlight" VALUE="c00000">
      <PARAM NAME="menu7_border" VALUE="c0bbb1">
      <PARAM NAME="menu7_color" VALUE="ffffff">

      <PARAM NAME="menu7_item1" 
	VALUE="Developer Program|/Support/DevProg/">
      <PARAM NAME="menu7_item2" 
	VALUE="Developer Tools|/Technology/index.html#devtools">

    </APPLET>
  
  </TD>
</TR>
<TR>
  <TD WIDTH="210" ALIGN="CENTER" VALIGN="TOP">
  
    <!--------- SIDEBAR STORY ---------->

    <A HREF="/5902/">
    <IMG BORDER="0" ALT="O2 Workstation $5902.00" SRC="/Images/HP_11-17-97.sb.jpg" WIDTH ="150"
     HEIGHT="111"></A>
 
  </TD>
</TR>
</TABLE>

<BR>

<!----- START BOTTOM BAR ----->

<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" WIDTH="600">

<TR>
<TD COLSPAN="3" VALIGN="BOTTOM"><IMG SRC="/Images/dot_black.gif" 
	WIDTH="588" HEIGHT="1"></TD>
</TR>

<TR ALIGN="LEFT">

<TD VALIGN="TOP" WIDTH="400">
<BR>

<!---Left Side - Stories--->

<IMG SRC="/Images/dot_black.gif" WIDTH = "4" HEIGHT = "4" >
<FONT SIZE="-1" FACE="ARIAL,HELVETICA">
<A HREF="/Misc/events/rsna/">
<B>Silicon Graphics at Radiology Society of North America (RSNA)</B></A>
</FONT>
<BR>

<IMG SRC="/Images/dot_black.gif" WIDTH = "4" HEIGHT = "4">
<FONT SIZE="-1" FACE="ARIAL,HELVETICA">
<A HREF="http://www.cray.com/sc97/">
<B>Silicon Graphics/Cray at Supercomputing '97</B></A>
</FONT>
<BR>

<IMG SRC="/Images/dot_black.gif" WIDTH = "4" HEIGHT = "4" >
<FONT SIZE="-1" FACE="ARIAL,HELVETICA">
<A HREF="/Headlines/1997/October/origin.html">
<B>Origin Servers: Enterprise Successes</B></A>
</FONT>
</TD>


<TD VALIGN="TOP"><IMG SRC="/Images/dot_black.gif" WIDTH = "1" HEIGHT = "75" ></TD>

<!---Right Side - Button--->

<TD VALIGN="TOP" WIDTH="146">
<A HREF="/Headlines/1997/October/siliconshop.html">
<IMG SRC="/Images/HP_ecommerce.jpg" WIDTH="146" HEIGHT="70" BORDER="0" 
ALT="Silicon Store" ></A>
</TD>

</TR>


</TABLE>

<!----- END BOTTOM BAR ----->
<BR>
<!---start footer-->
<TABLE>
<TR>
  <TD>
    <FONT SIZE="-2">
    <A HREF="/Misc/sgi_info.html">Copyright 
      &copy; 1997 Silicon Graphics, Inc.</A>
    </FONT>
  </TD>
  <TD>
    <FONT SIZE="-2">
    All Rights Reserved.
    </FONT>
  </TD>
  <TD>
    <FONT SIZE="-2">
    <A HREF="/Misc/external.list.html">Trademark 
      Information</A>
    </FONT>
  </TD>
  <TD>
    <FONT SIZE="-2">
    <A
    HREF="/cgi-bin/form_feedback/webmaster@www.sgi.com">webmaster@www.sgi.com</A>
    </FONT>
  </TD>
</TR>
</TABLE>

  
<MAP NAME="banner">
  <AREA SHAPE="rect" ALT="Products & Solutions" COORDS="3,15,162,40"
    HREF="/Products/">
  <AREA SHAPE="rect" ALT="Company Info & Jobs" COORDS="2,41,162,63"
    HREF="/Overview/">
  <AREA SHAPE="rect" ALT="Support" COORDS="1,65,161,85" HREF="/Support/">
  <AREA SHAPE="rect" ALT="Sales" COORDS="2,88,149,108" HREF="/Sales/">
  <AREA SHAPE="rect" ALT="Web Solutions" COORDS="2,111,128,131"
    HREF="/Misc/internet_index.html">
  <AREA SHAPE="rect" ALT="Serious Fun" COORDS="2,133,103,154" HREF="/Fun/">
  <AREA SHAPE="rect" ALT="Developers" COORDS="1,157,103,178"
    HREF="/Technology/">
  <AREA SHAPE="default" NOHREF>
</MAP>

</BODY>

</HTML>
